<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinduoduo</title>
    <link rel="icon" href="/static/images/icon/favicon.ico" type="image/x-icon">

    <meta name="description" content="Курс по покупкам на китайському майданчику Pinduoduo: як реєструватися, знаходити товари, обирати бренди та заощаджувати при покупках. Доступ без обмежень.">
    <meta name="keywords" content="Pinduoduo, курс Pinduoduo, покупка на Pinduoduo, китайські покупки, заощадження на покупках, як купувати на Pinduoduo, копії брендів, доставка з Китаю, оплата через картку, курси по шопінгу, заощаджувати на покупках, навчання покупкам, шопінг з Китаю, Pinduoduo Україна, доставка товарів в Україну, китайські товари, онлайн покупки, тренінги з китайських покупок, доставка товарів без посередників, міжнародна доставка">

    <meta name="author" content="ChinaByKat">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://chinabykat.pp.ua/pinduoduo">
    <meta property="og:title" content="Pinduoduo">
    <meta property="og:description" content="Курс по покупкам на китайському майданчику Pinduoduo: як реєструватися, знаходити товари, обирати бренди та заощаджувати при покупках. Доступ без обмежень.">
    <meta property="og:image" content="https://chinabykat.pp.ua/static/images/pinduoduo/course-pinduoduo.png"> <!-- Замените на правильный путь к изображению -->
    <meta property="og:image:alt" content="Курс по Pinduoduo">
    <meta property="og:site_name" content="ChinaByKat">

    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/common/header.css">
    <link rel="stylesheet" href="/static/css/common/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/pinduoduo/included_in_course.css">
    <link rel="stylesheet" href="/static/css/pinduoduo/price_comparison.css">
    <link rel="stylesheet" href="/static/css/pinduoduo/course_program.css">
    <link rel="stylesheet" href="/static/css/pinduoduo/price.css">
    <link rel="stylesheet" href="/static/css/pinduoduo/sign_up_form.css">
</head>

<body>

    {% include 'partials/header.html' %}

    <main>
        <section class="image-and-content">
            <div class="image-container">
                <img src="{{ url_for('static', path='images/pinduoduo/course-pinduoduo.png') }}" alt="Course Pinduoduo">
                <a href="javascript:void(0);" class="signup-button-on-image" onclick="showPopup()">Записатися</a>
            </div>

            <div class="what-is-included">
                <div class="container">
                    <h2><span>ЩО ВХОДИТЬ:</span></h2>
                    <ul>
                        <li><span class="checkmark">&#10003;</span> Покрокова інструкція реєстрації</li>
                        <li><span class="checkmark">&#10003;</span> Як обрати якісні копії брендів</li>
                        <li><span class="checkmark">&#10003;</span> Практичні поради для успішних покупок</li>
                        <li><span class="checkmark">&#10003;</span> Фішки вибору товару – як знайти найкраще на Pinduoduo</li>
                        <li><span class="checkmark">&#10003;</span> Матеріали в записі. Ви ні до кого не привʼязуєтесь і проходите у своєму темпі</li>
                        <li><span class="checkmark">&#10003;</span> Доступ залишається назавжди</li>
                        <li><span class="checkmark">&#10003;</span> Зворотній звʼязок без обмежень (можна до мене звертатися, якщо є питання/складності)</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="full-width-image">
            <img src="{{ url_for('static', path='images/pinduoduo/price-comparison-pinduoduo.png') }}" alt="Taobao Bottom Image">
        </div>
        <div class="course-program">
            <div class="container">
                <h2><span>ПРОГРАМА КУРСУ:</span></h2>
                <div class="program-columns">
                    <div class="column">
                        <ol class="program-list left-column">
                            <li>Реєстрація в Pinduoduo</li>
                            <li>Переклад додатку: налаштування мови</li>
                            <li>Функціонал, пошук товарів</li>
                            <li>Як обрати розмір та знаходити копії</li>
                            <li>Картка товару, відгуки, рейтинг: як оцінювати пропозиції</li>
                            <li>Спілкування з продавцем: важливі фрази та на що звертати увагу</li>
                            <li>Робота з кошиком, обраним</li>
                        </ol>
                    </div>
                    <div class="column">
                        <ol class="program-list right-column">
                            <li>Купони та знижки: як заощаджувати</li>
                            <li>Доставка в Україну та інші країни, як доставляти бренди безпечно</li>
                            <li>Варіанти доставки: два основних</li>
                            <li>Оплата першого замовлення, про комісію, ліміти і як вигідніше оплачувати</li>
                            <li>Прив'язка карти: налаштування платіжних методів</li>
                            <li>Відстеження замовлення</li>
                            <li>Повернення коштів: як подати заявку</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta-section">
        <h3>Навчитесь:</h3>
        <ul>
            <li class="cta-item" data-num="1">Знаходити та купувати репліки за найвигіднішими цінами</li>
            <li class="cta-item" data-num="2">Здійснювати платіж напряму за допомогою картки (Visa/Mastercard)</li>
            <li class="cta-item" data-num="3">Оформлювати доставку замовлень в Україну та за кордон (через декілька служб доставки)</li>
        </ul>
    </div>
    <div class="cta-price">
        <div class="container">
            <div class="price-container">
                <span class="price">Ціна: 850 грн</span>
            </div>
            <a href="javascript:void(0);" class="signup-button" onclick="showPopup()">Записатися</a>
        </div>
    </div>
        {% include 'partials/sign_up_form.html' %}
    </main>

    {% include 'partials/footer.html' %}

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/pinduoduo/course_program.js"></script>
    <script src="/static/js/pinduoduo/sign_up_form.js"></script>

</body>

</html>