footer {
    text-align: center;
    padding: 20px;
    background: white; /* Цвет фона такой же, как у хедера */
    color: #333; /* Цвет текста темный, чтобы контрастировать с белым фоном */
    box-shadow: 0 -4px 25px rgba(0, 0, 0, 0.1); /* Немного тени для футера */
}