<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinduoduo</title>
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/footer.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/pinduoduo/included_in_course.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/pinduoduo/price_comparison.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/pinduoduo/course_program.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/pinduoduo/price.css') }}">
</head>

<body>

    {% include 'partials/header.html' %}

    <main>
        <section class="image-and-content">
            <div class="image-container">
                <img src="{{ url_for('static', path='images/course-pinduoduo.png') }}" alt="Курс по Pinduoduo">
                <a href="#form" class="signup-button-on-image">Записатися</a>
            </div>

            <div class="what-is-included">
                <div class="container">
                    <h2><span>ЩО ВХОДИТЬ:</span></h2>
                    <ul>
                        <li><span class="checkmark">&#10003;</span> Чек-листи, корисні інструменти та шаблони фраз для спілкування з продавцями</li>
                        <li><span class="checkmark">&#10003;</span> Тонкощі покупок у розпродажі (11.11, Чорна п’ятниця та інші)</li>
                        <li><span class="checkmark">&#10003;</span> Словник - корисні фрази для спілкування з продавцями</li>
                        <li><span class="checkmark">&#10003;</span> Закритий чат підтримки для учнів, де ділимося досвідом</li>
                        <li><span class="checkmark">&#10003;</span> Зворотній звʼязок без обмежень, якщо виникнуть додаткові питання</li>
                        <li><span class="checkmark">&#10003;</span> Курс залишається у вільному доступі. Можете навчатися, коли вам зручно</li>
                        <li><span class="checkmark">&#10003;</span> Доступ залишається назавжди</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="full-width-image">
            <img src="{{ url_for('static', path='images/price-comparison-pinduoduo.png') }}" alt="Taobao Bottom Image">
        </div>
        <div class="course-program">
            <div class="container">
                <h2><span>ПРОГРАМА КУРСУ:</span></h2>
                <div class="program-columns">
                    <div class="column">
                        <ol class="program-list left-column">
                            <li>Реєстрація</li>
                            <li>Способи перекладу Таобао</li>
                            <li>Знайомство з функціоналом: кошик, обране</li>
                            <li>Пошук, картка товару, рейтинг продавця, відгуки</li>
                            <li>Як обрати розмір</li>
                        </ol>
                    </div>
                    <div class="column">
                        <ol class="program-list right-column">
                            <li>Фрази для спілкування з продавцем</li>
                            <li>Про доставку в Україну, як заповнити адресу</li>
                            <li>Перша оплата замовлення</li>
                            <li>Де знайти номер накладної</li>
                            <li>Проблемні ситуації, як зробити повернення коштів і товару</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta-section">
        <h3>Навчитесь:</h3>
        <ul>
            <li class="cta-item" data-num="1">Без знань китайської користуватися сайтом Таобао з комп'ютера і через моб.додаток</li>
            <li class="cta-item" data-num="2">Знаходити товари по фото! Як в Instagram, але дешевше</li>
            <li class="cta-item" data-num="3">Викуповувати з сайту без переплати % посередникам і доставляти собі в Україну</li>
        </ul>
    </div>
    <div class="cta-price">
        <div class="container">
            <div class="price-container">
                <span class="price">Ціна: 850 грн</span>
            </div>
            <a href="#form" class="signup-button">Записатися</a>
        </div>
    </div>
    </main>

    {% include 'partials/footer.html' %}

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', path='js/header.js') }}"></script>
    <script src="{{ url_for('static', path='js/pinduoduo/course_program.js') }}"></script>

</body>

</html>